body {
  background: rgb(144, 144, 248);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.5s;
  border-radius: 2rem;
  font-size: large;
  padding: 0.5rem;
  margin-left: 1rem;
}

button:hover {
  background: #5470ff;
}

.title {
  background-color: #f7ff9e;
  text-align: center;
  border-radius: 300px;
  padding: 3rem;
  box-shadow: 10px 5px 5px gray;
}

.movie-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  justify-content: center;
}

.movie-card {
  padding: 20px;
  width: 300px;
  transition: scale 0.5s;

  justify-self: center;
  background-color: rgb(255, 140, 0);
  cursor: pointer;
  user-select: none;
  border-radius: 1rem;
  box-shadow: 10px 5px 5px gray;
}

.movie-card:hover {
  background-color: rgb(230, 140, 0);
  scale: 105%;
}

.movie-card img {
  width: 100%;
  border-radius: 1rem;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
}

#search-input {
  margin-left: 20px;
  min-width: 20rem;
  padding: 0.5rem 1rem;
  font-size: large;
}
